@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";


:root {
  --white: #FFFFFF;
  --tan-1: #F8F8F8;
  --tan-2: #E8E8E8;
  --tan-3: #D8D8D8;
  --tan-4: #78716a;
  --green: #44ee5d;
  --text-light: #AAAAAA;
  --text-dark: #444444;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
  font-family: 'dphangeroo-font';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(circle, #9f9e9e 1px, transparent 1px),
    radial-gradient(circle, #9f9e9e 1px, transparent 1px);
  background-size: 30px 30px;
  background-position: 0 0, 30px 30px;
  /* padding: 2vmin; */
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  overflow: hidden;
  background-color: var(--tan-1);
  color: #444444;
  width: 100%;
}


body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./components/Logo/Dollarr.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  opacity: 0.4;
  z-index: -1;
  background-attachment: fixed;
}

@font-face {
  font-family: 'dphangeroo-font';
  src: url('./components/Font/Dphangeroo-LY63.ttf') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3 {
  font-family: 'dphangeroo-font';
  font-size: larger;
  color: #444444;
}


code {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--tan-3);
  padding: 0.5em;
  border-radius: 0.3em;
}

#root {
  width: 100%;
  max-width: 960px;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-j-end {
  display: flex;
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: auto;
}

.section-heading {
  background-color: var(--white);
  color: var(--text-dark);
  border: 1px solid var(--tan-2);
  border-radius: 5px;
  padding: 10px;
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.form-container {
  background-color: var(--white);
  padding: 20px;
  border: 1px solid var(--tan-3);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p.error-message {
  color: var(--green);
  font-weight: bold;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  margin-top: 20px;
}

label {
  align-items: center;
  font-weight: 600;
}

input,
select {
  padding: 10px;
  border: 1px solid var(--tan-3);
  border-radius: 5px;
  transition: border-color 0.3s;
}

input:focus,
select:focus {
  border-color: var(--green);
  box-shadow: 0 0 8px rgba(68, 238, 93, 0.5);
}

button,
a.button {
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: 'dphangeroo-font';
}

button:hover,
a.button:hover {
  background-color: darken(var(--green));
}

button:disabled,
form:invalid button[type="submit"] {
  background-color: var(--tan-2);
  color: var(--tan-4);
}

button[type="submit"] {
  width: 100%;
  margin-top: 20px;
  grid-column: span 2;
}